body{

   padding: 0;
   margin: 0;
   background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);

   
  
}
nav{
  
   
   background-attachment: fixed;
  
}

div{
   display:flex;
   
}

.hover{
   border:2px solid #592E83;
   border-radius:20px;
}

.hover:hover{
   width: 400px;
   transition: 0.5s;
   border:2px solid #230C33;
}


.hobby:hover{
   width: 200px;
   transition: 0.5s;
}

.text{
   width: 30vw;
  
}

.right{
   /* display: relative;
   float: right; */
   display: flex;
   justify-content: flex-end;
}
.left{
   display: relative;
   float: left;
}
.content{
   background-color:#ecf0f1;
   width: 80%;
   margin: 0 10vw;
   
}



.contact{
   display: block;
   width: 100%;
   padding: 0;
   margin: 0;
}
input,label,textarea{
   width: 60%;
   margin: 0 20%;

}
.bottom {
margin:0 20%;
}

.fa {
   padding: 20px;
   font-size: 30px;
   width: 50px;
   text-align: center;
   text-decoration: none;
   margin: 5px 2px;
 }
 
 .fa:hover {
     opacity: 0.7;
 }
 
 .fa-facebook {
   background: #3B5998;
   color: white;
 }
 
 .fa-twitter {
   background: #55ACEE;
   color: white;
 }
 .fa-linkedin {
   background: #007bb5;
   color: white;
 }
 .footer{
    align-items: center;
    justify-content: center;
 }
 .submit{
   border: 0;
   background:none;
   display: block;
   margin: 20px auto;
   text-align: center;
   border: 2px solid #3498db;
   padding: 14px 10px;
   width: 200px;
   outline: none;
   color: rgb(27, 20, 20);
   border-radius:24px;
   transition:0.5s;
   text-transform:capitalize;
   
   }  
   
   .submit:hover{
      
      width:280px;
      border-color:#2ecc71 ;
   
   }